--- 
container_commands: 
  01-artisan_permission: 
    command: "chmod 755 -R storage"
  02-public_permission: 
    command: "chmod 755 -R public"
  03-bootsrap_permission: 
    command: "chmod 755 -R bootstrap/cache"
  04-artisan_migrate: 
    command: "php artisan migrate"
    leader_only: true
  05-artisan_view_clear: 
    command: "php artisan view:clear"
  05-artisan_route_clear: 
    command: "php artisan route:clear"
  05-artisan_cache_clear: 
    command: "php artisan cache:clear"
  07-queue_job_restart_on_worker_env:
    command: "php artisan queue:restart"
